@model WineryAssortments.Data.Wine

@{
    ViewData["Title"] = "Create";
}
<style>
    body {
        background-image: url(https://eu2iok58o6p.exactdn.com/wp-content/uploads/2023/10/pexels-skitterphoto-2101186.jpg?strip=all&lossy=1&ssl=1);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        box-shadow: 3px 3px 3px 1px;
        width: 360px;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.7);
        margin-left: auto;
        margin-right: auto;
        font-family: cursive;
    }

    .col-md-4 {
        width: 400px;
        font-family: cursive;
    }

    .form-control {
       
        font-family: cursive;
    }

    .HeadingCreate {
        font-family: cursive;
        font-weight: 900;
        color: #56050E;
        text-shadow: #392224;
    }

    .btnSubmit {
        padding:10px;
      
        background-color: #79000E;
        border-color: #79000E;
    }
    .AddBtn{
        border-color: #79000E;
        display: flex;
        justify-content: space-evenly;
        padding:10px;
        width:100%;
       
    }

    .AddBtn a{
            background-color: #79000E;
            border-color: #79000E;
    }
    .AddBtn input[type=submit]{
            background-color: #79000E;
            border-color: #79000E;
    }
  
</style>
<h1 class="HeadingCreate">Добави ново вино</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            @*  <div class="form-group">
            <label asp-for="DateModified" class="control-label"></label>
            <input asp-for="DateModified" class="form-control" />
            <span asp-validation-for="DateModified" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="WineCattegoriesId" class="control-label">Категория на виното</label>
                <select asp-for="WineCattegoriesId" class="form-control" asp-items="ViewBag.WineCattegoriesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WineTypesId" class="control-label">Вид на виното</label>
                <select asp-for="WineTypesId" class="form-control" asp-items="ViewBag.WineTypesId"></select>
            </div>
            <div class="AddBtn">
                <div class="form-group" >
                    <input type="submit" value="Добави виното" class="btn btn-primary" />
                </div>
                <div class="BackHome">
                    <a asp-action="Index" class="btn btn-primary">Назад</a>
                </div>
            </div>
         
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
