@model WineryAssortments.Data.Wine

@{
    ViewData["Title"] = "Edit";
}
<style>

</style>
<center class="Heading"><h1>Редактирай информацията за виното</h1></center>
<hr />
<div class="center">
    <div class="col-md-4">
        <div class="EditForm">
            <form asp-action="Edit" method="Post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                @*  <div class="form-group">
                <label asp-for="DateModified" class="control-label"></label>
                <input asp-for="DateModified" class="form-control" />
                <span asp-validation-for="DateModified" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="WineCattegoriesId" class="control-label"></label>
                    <select asp-for="WineCattegoriesId" class="form-control" asp-items="ViewBag.WineCattegoriesId"></select>
                    <span asp-validation-for="WineCattegoriesId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WineTypesId" class="control-label"></label>
                    <select asp-for="WineTypesId" class="form-control" asp-items="ViewBag.WineTypesId"></select>
                    <span asp-validation-for="WineTypesId" class="text-danger"></span>
                </div>
                <div class="btnSave">
                    <input type="submit" value="Запази промените" class="btn btn-primary" />
                </div> 
            
            </form>
        </div>
       
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
