@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img id="HomeImage" src="https://rare-gallery.com/uploads/posts/811590-Wine-Grapes-Barrel-Fields-Vineyard-Bottle-Stemware.jpg" />
    <hr />
    <br />
    <h1>За нас</h1>
</div>
