html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#imageContainer img {
    overflow: hidden;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 3px;
}

#imageContainer p {
    position: absolute;
    top: 10%;
    left: 52.5%;
    text-align: center;
    padding: 10px 20px;
    color: white;
    font-size: 25px;
    font-family: 'Comic Sans MS', Times, serif;
    transform: translate(-50%, -50%);
    background-color: black;
}

hr {
    border-top: 2px solid black;
}

.aboutusImage {
    width: 50%;
}

    .aboutusImage img {
        max-width: 100%;
        height: auto;
    }

#aboutUsContainer {
    display: flex;
}

.aboutusText {
    width: 50%;
    padding: 15px;
    text-align: justify;
}

    .aboutusText p {
        font-size: 18px;
    }

h1 {
    text-align: center;
}

.degustationImage {
    width: 50%;
}
.degustationImage img {
     max-width: 100%;
     height: auto;
     border-radius:1%;
}
#degustation{
    display:flex;
}
.degustationText {
    width: 50%;
    padding: 15px;
    text-align: justify;
}

    .degustationText p {
        font-size: 18px;
    }
