html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#imageContainer img {
    overflow: hidden;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 3px;
}

#imageContainer p {
    position: absolute;
    top: 6%;
    left: 52.5%;
    text-align: center;
    padding: 10px 20px;
    color: white;
    font-size: 25px;
    font-family: 'Comic Sans MS', Times, serif;
    transform: translate(-50%, -50%);
    background-color: black;
}

hr {
    border-top: 2px solid black;
}
.DetailsImage{
    width:100%;
}
    .DetailsImage img {
        width: 400px;
        height: auto;
        border: 2px solid #959593;
        border-radius:1px;
       
    }
.DetailedWines{
    margin:20px;
}
.DetailsTxt {
    width: 100%;
    text-align: justify;
}
    .DetailsTxt p {
        font-size: 25px;
        color: #07342C;
    }
.DetailsPrice p {
    font-size: 20px;
}
.DetailsDesc {
    width: 65%;
    text-align: justify;
}
    .DetailsDesc p {
        font-size: 17px;
        
    }

.detailsCustomerBtn {
    display: flex;
    justify-content: flex-start;
}
#buyBtnDetails{
    width:200px;
    height:40px;
}
#ccountDetails {
    width: 100px;
    height: 37px;
}
.wineInformation {
    display: flex;
}
.aboutusImage {
    width: 50%;
}

    .aboutusImage img {
        max-width: 100%;
        height: auto;
    }

#aboutUsContainer {
    display: flex;
}

.aboutusText {
    width: 50%;
    padding: 15px;
    text-align: justify;
}

    .aboutusText p {
        font-size: 18px;
    }

h1 {
    text-align: center;
}

.degustationImage {
    width: 50%;
}

    .degustationImage img {
        max-width: 100%;
        height: auto;
        border-radius: 1%;
    }

#degustation {
    display: flex;
}

.degustationText {
    width: 50%;
    padding: 15px;
    text-align: justify;
}

    .degustationText p {
        font-size: 18px;
    }

.contactUs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    .contactUs .FirstForm fieldset {
        font-family: cursive;
        font-weight: 400;
        border-radius: 15px;
        background-color: #f2f2f2;
        padding: 20px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        backdrop-filter: blur(4px);
        width: 100%;
        height: 91%;
    }

    .contactUs .FirstForm .formLabel {
        color: #ccad00
    }

    .contactUs .SecondForm fieldset {
        font-family: cursive;
        font-weight: 400;
        border-radius: 15px;
        background-color: #f2f2f2;
        padding: 20px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        backdrop-filter: blur(4px);
        width: 95%;
        height: auto;
    }

    .contactUs .SecondForm input[type=submit] {
        background-color: dodgerblue;
        color: white;
        padding: 7px 7px;
        cursor: pointer;
        border-radius: 3%;
        width: 35%;
        text-align: center;
        position: fixed;
        left: 30%;
        right: 35%;
        top: 89%;
    }

    .contactUs .SecondForm input[type=text], select {
        width: 100%;
        height: auto;
        padding: 12px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        resize: vertical
    }

    .contactUs .SecondForm textarea {
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical
    }

    .contactUs .SecondForm input[type=submit]:hover {
        background-color: royalblue;
    }

    .contactUs .ThirdForm fieldset {
        font-family: cursive;
        font-weight: 400;
        border-radius: 15px;
        background-color: #f2f2f2;
        padding: 20px;
        justify-content: center;
        backdrop-filter: blur(4px);
        width: 56%;
        height: auto;
    }

    .contactUs .ThirdForm iframe {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

#Heading {
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 280px;
}

    .buttons #buyBtn {
        width: 240px;
    }

    .buttons a {
        margin: 3px 0px;
    }

.wines-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.wines:hover {
    box-shadow: 0 0 10px 2px #868686;
}

.wines {
    border: 3px solid #959593;
    width: 30%;
    border-radius: 10px;
    display: flex;
    font-family: 'Comic Sans MS';
    flex-direction: column;
    margin-bottom: 15px;
    position:relative;
}

    .wines img {
        
        max-width: 100%;
        height: 250px;
        object-fit: contain;
    }
    .wineImg{
        display:flex;
        justify-content:center;
       
    }
.descriptionOfWine {
    text-align: center;
    font-weight: bold;
}
.wine-description {
    display: inline-flex;
    flex-direction: row;
    padding: 10px;
}

.col-sm-10 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #07342C;
}

.col-sm-2 {
    width: 50%;
}
.oldPrice {
    text-decoration-line: line-through;
    text-decoration-color: red;
    width: 50%;
}
.PromotionText {
    width: 50%;
}
.Promotion {
    position:absolute;
    top:0%;
    right:0%;
    left:82%;
    border-radius:10px;
    overflow:hidden;
    box-shadow:2px 2px 2px black;
    border: 4px solid red;
    background-color: yellow;
    transform:rotate(17.5deg);
}
.btnDiv{
    display:flex;
    justify-content:center;
}
.wine-name {
    text-align:center;
}
.newPrice {
    width: 50%;
}
hr {
    border-top: 2px solid black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

#account {

    padding: 20px;
}
#registerForm {
     padding: 20px;
}


footer {
    background-color: #E1E1E1;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    padding: 8px 16px;
    position: absolute;
    top: 100%;
    flex-wrap: wrap;
}

.InfoTitle {
    color: black;
    text-justify: auto;
    font-size: 120%
}

.contactsMainText {
    font-family: cursive;
    color: #424242;
    text-decoration: none;
}
.contactsText {
    font-family: cursive;
}

.socialMediaImg {
    display: flex;
    justify-content: space-around;
}

    .socialMediaImg img {
        width: 50px;
    }

.contactsContainer {
    display: flex;
    flex-direction: row;
}

.socials-title {
    display: flex;
    flex-direction: column;
}

.GalleryImages {
    display: flex;
    flex-direction: row;
    width: 50%;
}

    .GalleryImages img {
        width: 70%;
        height: auto;
        justify-content: space-around;
        border: 1px;
        border-radius: 3%;
        padding: 1%;
    }
    .GalleryImages img:hover {
        box-shadow: 0 0 5px 1px #333333;
    }