
@{
    ViewData["Title"] = "Контакти";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="contactUs">
    <div class="FirstForm">
        <fieldset>
            <legend><b>Контакти</b></legend>
            <br />
            <label><b>Имейл: </b></label>
            <br />
            <label class="formLabel">WineryAssortments@gmail.com</label>
            <br />
            <label><b>Адрес: </b></label>
            <br />
            <label class="formLabel">град Сопот, България </label>
            <br />
            <label><b>Телефони за връзка: </b></label>
            <br />
            <label class="formLabel">+359 823 532 134</label>
            <br />
            <label class="formLabel">+359 131 456 902</label>
            <br />           
            <label class="formLabel">+359 340 623 173</label>
        </fieldset>
    </div>
    <div class="SecondForm">
        <fieldset>
            <legend><b>Свържи се с нас</b></legend>
            <br />
            <label><b>Вашите имена: </b></label>
            <br />
            <input type="text" />
            <br />
            <label><b>Имейл: </b></label>
            <br />
            <input type="text" />
            <label><b>Съобщение: </b></label>
            <br />
            <textarea placeholder="Напишете вашето съобщение...."></textarea>
            <br />
            <input type="submit" value="Изпрати"/>
        </fieldset>
    </div>
    <div class="ThirdForm">
        <fieldset>
            <legend><b>Карта</b></legend>
            <br />
            <label><b>Местоположение:</b></label>
            <br />
            <label>За по-подробна информация, относно местоположението, разгледайте картата.</label>
            <br />
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11739.44721387808!2d24.7376953!3d42.6430896!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a996c22562a645%3A0xd983265e05eba076!2z0JLQuNC90LDRgNGB0LrQsCDQuNC30LHQsCDQodC-0L_QvtGC!5e0!3m2!1sbg!2sbg!4v1711826856579!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </fieldset>
    </div>
</div>


