
@{
    ViewData["Title"] = "Дегустация на вино";
}

<h1 class="Heading">@ViewData["Title"]</h1>
<hr />
<div id="degustation">
    <div class="degustationImage">
        <img src="https://copsa.bg/wp-content/uploads/2022/12/Chateau-Copsa-Copsa.bg-blog-1.jpg" />
    </div>
    <div class="degustationText">
        <p>
            Винарна „Асорти“ държи на своите клиенти, затова ние ви предлагаме да опитате на място нашите вина.
            Всеки, който пожелае може да дегустира желано от него вино и да се убеди в качеството на нашите асортименти. Ние ще ви предложим
            уют, прекрасна гледка, невероятни вкусове и незабравими емоции. Заповядайте на място, защото няма да съжалявате!
            <h4 class="Heading">Такси за дегустация</h4>
            <ul class="degustationList">
                <li>Дегустация на червени вина - 10 лв</li>
                <li>Дегустация на бели вина - 8 лв</li>
                <li>Дегустация на вина розе - 9 лв</li>
                <li>Дегустация на подбрани асортименти - 15 лв</li>
            </ul>
        </p>
    </div>
    <br />
    
</div>

