@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="imageContainer">
        <img src="https://assets.architecturaldigest.in/photos/6008342bb3d78db39997cec9/16:9/w_2560%2Cc_limit/Let-Awakening-inspire-your-wine-selection-1366x768.jpg" />
            <h1>
                Добре дошли във винарна 
            </h1>
        <span>„Асорти“</span>
    </div>
   
</div>
<hr id="AboutUs"/>
<h1 id="HomeHeadings">За нас</h1>
<div id="aboutUsContainer">
    <div class="aboutusImage">
        <img src="https://trafficnews.bg/data/images/2022_08_08/7_Guest_House_Back_View_With_BBQ.jpg" />
    </div>
    <div class="aboutusText">
        <p>
            Винарна „Асорти“ се намира в сърцето на Карловската котловина - място изпълнено с прекрасни гледки и
            вековна традиция във винопроизводството. Мисията на нашата винарска изба е да предложим на нашите
            клиенти едно приятно изживяване и насладаждение на нашите вина, които се произвеждат по автентични
            рецепти от нашия роден край. Ние се стремим към запазване на българското, на всичко родно,
            ценностно и свято и се стремим към това да разпространим тази идея сред нашите посетители, като редовно
            организираме събития, показващи красотата на България. Елате и заповядайте при нас, защото няма да съжалявате!
        </p>
    </div>
</div>
<hr />
<h1 id="HomeHeadings">Галерия</h1>
<div class="GalleryImages">
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/232094174.jpg?k=4fb2f4e8c906c4e584103190234c4a4e37d349c586705d5c40dba71ce35f9187&o=&hp=1" />
    <img src="https://infocall.bg/ipages/vinarna-v-pomorie-burgas-7566-0.jpg" />
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/16375600.jpg?k=f10da930201e1b2d37577fe73b2bb11abbf0db0e0c893b08432b4beb586018ee&o=&hp=1" />
</div>
<div class="GalleryImages">
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/232093091.jpg?k=2b54e4e8a78b8c7ad8c0c1b3ebb414f4475880581db40e791cd072fd37696bfc&o=&hp=1" />
    <img src="https://static.dir.bg/uploads/images/2021/06/06/2209334/768x432.jpg?_=1622982068" />
    <img src="https://rnews.bg/wp-content/uploads/2019/02/dsh0.jpg" />
</div>

