@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="imageContainer">
        <img src="https://assets.architecturaldigest.in/photos/6008342bb3d78db39997cec9/16:9/w_2560%2Cc_limit/Let-Awakening-inspire-your-wine-selection-1366x768.jpg" />
        
            <p>
                Добре дошли във винарна „Асорти“
            </p>
      
        <hr />  
    </div>
    <div id="aboutUsContainer">
        <h1>За нас</h1>
        <img src="https://trafficnews.bg/data/images/2022_08_08/7_Guest_House_Back_View_With_BBQ.jpg" />
        <p>
            Винарна „Асорти“ се намира в сърцето на Карловската котловина - място изпълнено с прекрасни гледки и
            вековна традиция във винопроизводството. Мисията на нашата винарска изба е да предложим на нашите
            клиенти едно приятно изживяване и насладаждение на нашите вина, които се произвеждат по автентични
            рецепти, запазени в нашия роден край. Нашата винарна се стреми към запазване на българското, на всичко родно,
            ценностно и свято и се стремим към това да разпространим тази идея сред нашите посетители, като редовно
            организираме събития, показващи родното. Елате и заповядайте при нас, защото няма да съжалявате!
        </p>
    </div>
    <br />

    
    

   
</div>
